.header{
    padding: 57px 0 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url('./header_bg.png');
    background-size: cover;
}

.header__title{
    margin-bottom: 20px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    text-shadow: 1px 1px 1px black;
}
.header__search{
    width: 89%;
    height: 50px;
}