.proHandle__layout{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.proHandle{
    padding: 8px 10px;
    height: 50px;
    background: #FFF;
    border-top: 0.5px solid #DADADA ;
}
.proHandle .iconfont{
    float: left;
    margin-right: 6px;
    font-size: 20px;
    font-weight: 600;
    color: #BF2A2F;
}

#zx,#sc{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 76px;
    height: 34px;
    border: 0.5px solid #BF2A2F;
    border-radius: 3px;
    color:#BF2A2F;
}
#llyd{
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 34px;
    background: #BF2A2F;
    border-radius: 3px;
    color: #FFF;
}